
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');
body{ 
    background-color: #eee;
    border: #eee;
    font-family: "Source Sans Pro";
}
header{
    font-family: "Abril Fatface";
}
h1{ 
    text-align: center;
    font-family: "Roboto Slab";
}
.newspaper-container{
    margin: 0 auto;
    width: 700px;
    background-color: white;
    box-shadow: #ddd;
    padding: 50px 50px 50px 50px;
    
}
nav{
    border-top: 2px;
    border-bottom: 2px;
}
ul{

    list-style-type: none;
    display: flex;
    text-align: center;
}
ul a{
    padding: 5px;
    text-decoration: none;
    color: black;
}
h5{
    color:#dd3232;
}
nav{
    color:#777;
}
main img{
    width: 100%;
    display: flex;
    align-items: center;

}
.more-articles{
    text-align: center;
    display: flex;
    width: auto;

}

.bonus{
    text-align: center; 
    color: rgb(13, 14, 14);
}
.pariba{
    z-index: 8;
    border-radius: 2em;
    background-color: #dd3232;
    margin: 0 auto;
}
